[submodule "st"]
	path = st
	url = https://github.com/Frestein/st
[submodule "nsxiv"]
	path = nsxiv
	url = https://github.com/Frestein/nsxiv
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/Frestein/dmenu
