[submodule "st"]
	path = st
	url = https://codeberg.org/Frestein/st
[submodule "nsxiv"]
	path = nsxiv
	url = https://codeberg.org/Frestein/nsxiv
[submodule "dmenu"]
	path = dmenu
	url = https://codeberg.org/Frestein/dmenu
[submodule "kitty"]
	path = kitty
	url = https://codeberg.org/Frestein/kitty
